@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

h1 {
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 18px 0 8px 0;
  /* color: #f08200; */
  -webkit-text-fill-color: #f08200;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

menu {
  /* background-color: #fcfcfc; */
  /* width: 760px; */
  text-align: center;
  padding-left: 0;
  padding-bottom: 8px;
  /* padding-top: 10px; */
  margin-top: 0;
}

menu button {
  margin: 0px 5px 0px 5px;
}

.main {
  /* background-color: #b9555d; */
  /* background-color: #330785; */
  position: relative;
  display: inline-block;
  min-width: 800px;
  min-height: 800px;
  border: 2px solid black;
  margin-left: 10px;
  padding-bottom: 20px;
  left: calc(50% - 400px);
  /*glitter*/
  /* background-color:rgb(0,0,0);
  background-image:url(http://www.zingerbugimages.com/backgrounds/multi_colored_stars2.gif);
  background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed; */
}

header {
  margin-top: 3px;
  text-align: center;
}

.logoAndMenu {
  background-color: #f9f4f4;
  border-radius: 7px;
}

.logo {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.tabContainer {
  display: none;
}
.tabContainer.activeTab {
  display: block;
}

.inlineDiv {
  display: inline-block;
  margin: 0 5px 20px 5px;
  font-size: 17px;
}

.inlineDiv input {
  width: 50px;
  text-align: center;
  margin: 0 1px 0 1px;
  outline: none;
  border: 1px solid #715385;
}
div#game,
.canvasContainer {
  position: relative;
}
div#youDied {
  display: none;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div#youDied.active {
  display: block;
}
/* ****** REMOVE? ****** */
.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 17px;
  text-align: center;
}

.banner {
  position: relative;
  height: 230px;
  width: 800px;
  /* background-color: rgb(221, 215, 221);   */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
}

button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #715385;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 18px 0 #3d2914;
}

.settingsTab {
  width: 800px;
}

.set_settings {
  margin-top: 10px;
  /* text-align: center; */
}

.mainGame {
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
}

.mainGame #lblUserName {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  font-weight: bold;
}

#username {
  text-align: left;
  margin: 0 0 8px 10px;
  font-size: 17px;
  font-weight: bold;
}

#canvas {
  /* margin: 20px 0 10px 0; */
  /* border: 3px solid black; */

  border: 3px solid rgb(216, 167, 103);
  padding: 11px;
}

#startGame_form {
  background-color: white;
  box-shadow: 0 0 0 0 white;
}

#startGame_form button {
  background-color: orange;
  margin: 5px 5px 0 5px;
}

#startGame_form #back {
  background-color: grey;
}

.displaySetting {
  width: 800px;
  text-align: left;
  padding-left: 10px;
  margin-top: 18px;
}

.displaySetting input {
  width: 80px;
}

.displaySetting h2 {
  margin-top: 0;
  background-color: #edaf63;
  margin-bottom: 10px;
  font-size: 18px;
  /* color: white; */
  font-weight: normal;
  text-align: center;
}

.displaySetting h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
  text-decoration: underline;
}

.displaySetting span {
  margin: 0 5px 0 5px;
  /* color: #624675; */
  color: rgb(124, 50, 124);
  font-weight: bold;
  padding: 2px 0 2px 0;
}

.displaySetting input {
  width: 140px;
  border: none;
  color: rgb(124, 50, 124);
  font-weight: bold;
  font-size: 15px;
  padding: 2px 0 2px 0;
}
.randomSettings {
  margin-top: 10px;
  text-align: center;
  margin-top: 0px;
  /* width: 200px; */
}

.testbox .randomSettings button {
  width: 250px;
  background-color: orange;
  margin-top: 0px;
}

.testbox .set_settings button {
  width: 250px;
}

form {
  width: 80%;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  padding: 10px 20px 25px 20px;
  border-radius: 6px;
  background: rgb(169, 187, 223);
  /* box-shadow: 0 0 15px 0 #7584db; */
  box-shadow: 0 0 13px 0 #e19451;

  /* margin-top: 10px; */
}

input.keyButton {
  width: 200px;
  height: 50px;
  /* padding: 5px; */
  margin: 0 5px 10px 5px;
  font-size: 15px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.settingsTab h2 {
  margin: 4px 0 15px 0;
}

.settingsTab h3 {
  margin: 10px 0 10px 0;
}

.settingsTab h4 {
  margin: 10px 0 10px 0;
  font-weight: normal;
}

.settingsTab .selection {
  /* float: left; */
}

.choceColor label {
  font-size: 18px;
  width: 100px;
  display: inline-block;
}

.choceColor {
  margin-top: 5px;
}

.choceColor option {
  font-weight: bold;
}

input.numFoodBox {
  width: 50px;
  height: 30px;
  font-size: 15px;
}
select.colorSelection {
  width: 120px;
  height: 40px;
  font-size: 15px;
}

input.register_box {
  width: 400px;
  height: 30px;
  font-size: 15px;
  display: block;
  margin: auto;
}
.item span {
  color: red;
}

label.error {
  font-weight: bold;
}

.testbox button {
  margin-top: 15px;
  font-size: 17px;
  text-align: center;
  height: 42px;
  width: 160px;
}

/* .item input:hover,
.item select:hover,
.item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 8px 0 #195ec5;
  color: #5f00cc;
} */
.item {
  position: relative;
  margin: 10px 0;
}

input.rdate {
  width: 200px;
  height: 30px;
  font-size: 15px;
}

.formcontainer {
  text-align: left;
  margin: 24px 50px 12px;
}

.container {
  padding: 16px 0;
  text-align: left;
}

.stopGameButton {
  width: 150px;
  height: 37px;
  border-radius: 5px;
  margin: 5px 0 20px 0;
  background: grey;
  font-size: 17px;
  color: white;
  cursor: pointer;
}
.welcomeTab {
  text-align: center;
  margin-top: 200px;
}

.welcomeTab button {
  margin-top: 20px;
  margin-left: 7px;
  margin-right: 5px;
  width: 140px;
  height: 42px;
  font-size: 19px;
  background-color: orange;
}

.welcomeTab .welcomelogo {
  /* margin-top: 5px; */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f9f4f4;
  color: black;
  text-align: center;
  padding-top: 2px;
  font-family: Roboto, Arial, sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */ /* was fixed */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 35% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

p.aboutTitle {
  color: rgb(77, 6, 105);
  font-family: Roboto, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

p.aboutBody {
  color: rgb(0, 0, 0);
  font-family: Roboto, Arial, sans-serif;
  font-weight: 200;
  font-size: 15px;
}

/* 
html{
  background-color:#000;
  border-bottom:solid 5px blue;
  border-top:solid 5px blue;
  overflow-x:hidden;
  padding-bottom:142px;
}

p{
  color:#FFF;
  font: 50px 'Press Start 2P',  cursive;
  margin:200px 139px;
  position:absolute;
  text-align:center;
} */

.pacman {
  margin: 40px 10px;
  position: absolute;
  bottom: 0;
  margin-bottom: 90px;
}

.pacman-top {
  background-color: #fccf00;
  height: 30px;
  width: 60px;
  border-radius: 100px 100px 0 0;
  animation: spin1 0.7s infinite 0.2s linear;
}

.pacman-bottom {
  background-color: #fccf00;
  height: 30px;
  width: 60px;
  border-radius: 0 0 100px 100px;
  animation: spin2 0.7s infinite 0.2s linear;
}

.feed {
  margin-top: -108px;
  margin-left: 15px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  -moz-animation: eat 0.7s linear 0s infinite;
  -webkit-animation: eat 0.7s linear 0s infinite;
  animation: eat 0.7s linear 0s infinite;
}

/* Animation*/

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-35deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
}

@-moz-keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-35deg);
  }
}
@-moz-keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
}

@-webkit-keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-35deg);
  }
}
@-webkit-keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
}

@keyframes eat {
  0% {
    box-shadow: 152px 65px 0 0 #54435f, 270px 65px 0 0 #54435f,
      387px 65px 0 0 #54435f, 505px 65px 0 0 #54435f, 622px 65px 0 0 #54435f,
      740px 65px 0 0 #54435f;
  }

  100% {
    box-shadow: 35px 65px 0 0 #54435f, 152px 65px 0 0 #54435f,
      270px 65px 0 0 #54435f, 387px 65px 0 0 #54435f, 505px 65px 0 0 #54435f,
      622px 65px 0 0 #54435f;
  }
}

@-moz-keyframes eat {
  0% {
    box-shadow: 100px 65px 0 0 #54435f, 300px 65px 0 0 #54435f,
      500px 65px 0 0 #54435f, 700px 65px 0 0 #54435f, 900px 65px 0 0 #54435f,
      1100px 65px 0 0 #54435f, 1300px 65px 0 0 #54435f;
  }

  100% {
    box-shadow: 0px 65px 0 0 #54435f, 100px 65px 0 0 #54435f,
      300px 65px 0 0 #54435f, 500px 65px 0 0 #54435f, 700px 65px 0 0 #54435f,
      900px 65px 0 0 #54435f, 1100px 65px 0 0 #54435f;
  }
}

@-webkit-keyframes eat {
  0% {
    box-shadow: 100px 65px 0 0 #54435f, 300px 65px 0 0 #54435f,
      500px 65px 0 0 #54435f, 700px 65px 0 0 #54435f, 900px 65px 0 0 #54435f,
      1100px 65px 0 0 #54435f, 1300px 65px 0 0 #54435f;
  }

  100% {
    box-shadow: 0px 65px 0 0 #54435f, 100px 65px 0 0 #54435f,
      300px 65px 0 0 #54435f, 500px 65px 0 0 #54435f, 700px 65px 0 0 #54435f,
      900px 65px 0 0 #54435f, 1100px 65px 0 0 #54435f;
  }
}
